@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,400;1,700&display=swap');

.body{
    margin: 0%;
}
.text-area-size{
    font-size: 1.2em;
    resize: none;
    height: 70px;
    width: 600px;
}
.center{
    text-align: center;
    max-width: 600px;
    display: block;
    margin: auto;
}
.button{
   background-color: rgb(0, 255, 136);
    font-size: 1em;
   border-radius: 6px;
}
.section-background{
    background-image:url("images/minion.jpg");
    background-size: 100%;
    padding: 5rem;
    padding-bottom: 15rem;
    background-color: #09e909;
}
.visible-hide{
    visibility:hidden;
}

.ul{
    list-style: none;

}
.footer-texts{
    text-decoration: none;
    color: rgb(244, 243, 247);
    font-size: 0.9em;
    text-align: left;
}


.logo{
    height: 19px;
    width: 19px;
}
.footer{
     background-color: rgb(58, 61, 60);
    display: flex;
}
.footer-section{
    padding:20px;
    padding-bottom: 0px;
  
}
.footer-title{
    padding-top: 20px;
    font-size: 1.1em;
    color: aliceblue;
}
.h3{
 margin: 0px;
}
.footer-section-2{
    padding-left: 60px;
}
@media screen and (max-width:600px) {
     .center{
        text-align: center; 
        max-width: 300px;
        display: block;
        margin: auto;
    }
    .text-area-size{
        padding-left: 0px;
        resize: none;
        height: 60px;
        width: 240px;
    }
    .section-background{
        background-image:url("images/vertical-minion2.jpg");
        background-size: 100%;
        padding: 5rem;
        padding-bottom: 11.9rem;
        background-color: #d1e0d1;
    }
    .footer-section{
        padding:20px;
        padding-bottom: 15px; 
      
    }
    .footer{
        background-color: rgb(58, 61, 60);
       display: flex;
       padding-left: 2%;
       padding-top:0px;
       padding-bottom:62px;
   }
    
} 